@layout ForgotPasswordLayout
@page "/resetpassword"
@using System.Web
@inject IAuthServiceClient AuthService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Aurora HRM | Reset Password</PageTitle>
@{
    var test = HttpUtility.ParseQueryString(new Uri(NavigationManager.Uri).Query);
}
<AuthorizeView Context="CustomAuthContext">
    <Authorized>
        @{
            NavigationManager.NavigateTo("home");
        }
    </Authorized>
    <NotAuthorized>
        <div id="app">
            <div style="position:absolute; top:40vh; width:100%;">
                <div style="display:flex; gap:10px; justify-content:center; align-items:center; position:relative;top:-200px;">
                    <div class="animate__animated animate__fadeIn animate__delay">
                        <div style="text-align:center;" class="animate__animated animate__pulse animate__infinite">
                            <img src="ahrm.png" alt="Alternate Text" width="100" />
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div style="text-align:center;">
                                <h5>Reset Password</h5>
                                <hr />
                                <div class="row">
                                    @if (alertMessageShow)
                                    {
                                        if (successMessage.Length != 0)
                                        {
                                            <div class="animate__animated animate__fadeIn">
                                                <div class="animate__animated animate__fadeOut animate__delay-5s">
                                                    <p class="text-success" style="padding-bottom: 4px;"><small>@successMessage</small></p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="animate__animated animate__fadeIn">
                                                <div class="animate__animated animate__fadeOut animate__delay-5s">
                                                    <p class="text-danger" style="padding-bottom: 4px;"><small>@errorMessage</small></p>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <EditForm Model="resetObject" OnValidSubmit="HandlePasswordReset" Context="formContext">
                                    <DataAnnotationsValidator />
                                    <div class="row card shadow-sm" style="width: 8cm">
                                        <br />
                                        <div class="">
                                            <InputText id="email" @bind-Value="resetObject.Email" type="hidden" class="form-control"></InputText>
                                            <ValidationMessage For="@(() =>resetObject.Email)" />
                                            <InputText id="token" @bind-Value="resetObject.Token" type="hidden" class="form-control"></InputText>
                                            <ValidationMessage For="@(() =>resetObject.Token)" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="password"><small><b>New Password</b></small><span class="text-danger">*</span></label>
                                            <br />
                                            <InputText id="password" @bind-Value="resetObject.Password" type="password" class="form-control"></InputText>
                                            <ValidationMessage For="@(() =>resetObject.Password)" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="confirmPassword"><small><b>Confirm Password</b></small><span class="text-danger">*</span></label>
                                            <InputText id="confirmPassword" @bind-Value="resetObject.ConfirmPassword" type="password" class="form-control"></InputText>
                                            <ValidationMessage For="@(() =>resetObject.ConfirmPassword)" />
                                        </div>
                                        <br />
                                    </div>
                                    <br />
                                    <br />
                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-primary" style="width:180px">Reset Password</button>
                                    </div>
                                    <br />
                                    <div class="row" style="text-align: center;">
                                        <a href="/"><small><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back to login page</small></a>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {

    private UserResetPassword resetObject = new UserResetPassword();

    private string errorMessage = string.Empty;
    private string successMessage = string.Empty;

    private bool alertMessageShow = false;

    protected override async Task OnInitializedAsync()
    {
        var uriBuilder = new UriBuilder(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uriBuilder.Query);
        resetObject.Email = query["email"];
        resetObject.Token = query["token"];
    }

    private async Task HandlePasswordReset()
    {

        var result = await AuthService.ResetPassword(resetObject);

        if (result.Success)
        {
            errorMessage = string.Empty;
            successMessage = result.Message;
            alertMessageShow = true;
            Console.WriteLine(result.Data);
            //removes alert message after some time
            await InvokeAsync(() => StateHasChanged());
            await Task.Delay(6000);
            alertMessageShow = false;
            NavigationManager.NavigateTo("/");
        }
        else
        {
            successMessage = string.Empty;
            errorMessage = result.Message;
            alertMessageShow = true;
            Console.WriteLine("Error");
            //removes alert message after some time
            await InvokeAsync(() => StateHasChanged());
            await Task.Delay(6000);
            alertMessageShow = false;

        }

    }
}
